################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/IndiaTourism/src/assets/.gitkeep
/.vs/config
/.vs/TourismIndia/v15/.suo
/.vs
/IndiaTourism/.firebase/hosting.ZGlzdFxJbmRpYVRvdXJpc20.cache
