<footer style="height:56px;" class="footer">
  <div class="container">
    <div class="row">
      <div class="copyright-box col-md-4 offset-md-4 text-center ">
        <span>Reserverd By XYZ</span>
        <span>&copy; {{year}}</span>
      </div>
      <div class="col-md-4">
        <div id="social-media-box">
          <div class="text-center">
            <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://twitter.com/bootsnipp"><i id="social-instagram" class="fa fa-instagram fa-3x social"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
