<div id="visiting-places-box">
    <div class="container visiting-place-box-heading">
      <h2>Visitings Places</h2>
    </div>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div *ngFor="let VisitingPlace of VisitingPlaceList" class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{VisitingPlace.MainImageDescription}}</text></svg>
              <div class="card-body">
                <p class="card-text">{{VisitingPlace.FullDescription}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{VisitingPlace.DetailsUrl}}" class="btn btn-sm btn-outline-secondary">Read Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
