<div class="visting-place-detail-box container">
  <div class="site-description px-3 py-3 pb-md-4 mx-auto text-center">
    <h3 class="display-4">Indore</h3>
    <p class="lead">
      Indore is a city in west-central India.it is located on the banks of River Sarawati and River Khan. It is considered the most planned city in the state. Rich in history and architecture, the land is also called as the ‘Commercial Capital’ of Madhya Pradesh.
      It’s known for the 7-story Rajwada Palace and the Lal Baag Palace, which date back to Indore’s 19th-century Holkar dynasty.
      The Holkar rulers are honored by a cluster of tombs and cenotaphs at Chhatri Baag. The night market Sarafa Bazar sells street food. East is the Indo-Gothic Gandhi Hall and clock tower. The Jain temple Kanch Mandir has a mirrored mosaic interior.
    </p>
  </div>
  <div class="card mb-12 shadow-sm">
    <div class="card-body">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Indore RajWada Image</text></svg>
    </div>
  </div>
  <div class="site-description px-3 py-3 pb-md-4 mx-auto text-center">
    <p class="lead">
      A nature lover or a tourist with an eye for architectural excellence,
      Indore is the place to be to admire, enjoy, learn and unwind.
      Here are the top destinations in Indore that give you an idea of what the city
      has for you to offer.
    </p>
  </div>
  <div class="visting-place-list-box">
    <div class="container visiting-place-box-heading">
      <h2>List of Popular Visitings Places in Indore</h2>
    </div>
    <div class="visting-place-list">
      <ul class="list-group list-group-with-number list-group-flush">
        <li class="list-group-item remove-border list-group-item-order-list">
          <div class="card">
            <!--<div class="card-header">Rajwada</div>-->
            <div class="card-body">
              <h5 class="card-title">Rajwada</h5>
              <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22780%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20780%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16c0858e924%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A39pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16c0858e924%22%3E%3Crect%20width%3D%22780%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22290.234375%22%20y%3D%22107.4%22%3E780x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
              <p class="card-text">
                Rajwada is a historical palace in Indore city.
                It was built by the Holkars of the Maratha Empire about two centuries ago.
                This seven storied structure is located near the Chhatris and serves today as a fine example
                of royal grandeur and architectural skills.
              </p>
            </div>
            <div class="card-body">
              <h5 class="card-title">Way to Reach Destination</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item remove-border ">By Bus</li>
                <li class="list-group-item remove-border ">By Car</li>
                <li class="list-group-item remove-border ">By Bike</li>
              </ul>
            </div>
            <div class="card-body">
              <h6 class="card-title">Visiting Season -: <span class="card-subtitle mb-2 text-muted">Vacation Time</span></h6>
              <h6 class="card-title">Opening Time -: <span class="card-subtitle mb-2 text-muted">6 AM</span></h6>
              <h6 class="card-title">Closing Time -: <span class="card-subtitle mb-2 text-muted"> 7 PM</span></h6>
              <h6 class="card-title">Parking Available-: <span class="card-subtitle mb-2 text-muted">Yes</span></h6>
              <h6 class="card-title">Food Zone Available -: <span class="card-subtitle mb-2 text-muted">Yes</span></h6>
            </div>
            <div class="card-body">
              <h5 class="card-title">Restriction</h5>
              <ul class="list-group list-group-with-number list-group-flush">
                <li class="list-group-item remove-border list-group-item-order-list">By Bus</li>
                <li class="list-group-item remove-border list-group-item-order-list">By Car</li>
                <li class="list-group-item remove-border list-group-item-order-list">By Bike</li>
              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title">Get Map</h5>

            </div>
          </div>
        </li>
        <li class="list-group-item remove-border">Lal Bag Palace</li>
        <li class="list-group-item remove-border">Sarafa Bajar</li>
        <li class="list-group-item">56 Dukan</li>
        <li class="list-group-item">Khajrana Temple</li>
        <li class="list-group-item">PatalPani Waterfall</li>
        <li class="list-group-item">Regional Park</li>
        <li class="list-group-item">Rala Mandal</li>
        <li class="list-group-item">Kamla Nehru Prani Sangrahlay </li>
        <li class="list-group-item">Mohadi Falls</li>
        <li class="list-group-item">Tincha Fall</li>
        <li class="list-group-item">Bamniya Kund</li>
        <li class="list-group-item">Choral Dam</li>
        <li class="list-group-item">Janapav</li>
        <li class="list-group-item">Chidiya Bhadak Fall</li>
        <li class="list-group-item">Gidiya khoh Waterfall</li>
        <li class="list-group-item">Jogi Bhadak Waterfall</li>
        <li class="list-group-item">Gomat Giri</li>
        <li class="list-group-item">Brijasan Tekri</li>
        <li class="list-group-item">Crescent water park</li>
      </ul>
    </div>
  </div>
</div>
