.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.list-group-with-number {
  list-style: decimal;
}

.list-group-item-order-list {
  display: list-item;
}

.remove-border {
  border: none !important;
}
