<div class="visting-place-detail-box container">
  <div class="site-description px-3 py-3 pb-md-4 mx-auto text-center">
    <h3 class="display-4">Indore</h3>
    <p class="lead">
      Indore is a city in west-central India.it is located on the banks of River Sarawati and River Khan. It is considered the most planned city in the state. Rich in history and architecture, the land is also called as the ‘Commercial Capital’ of Madhya Pradesh.
      It’s known for the 7-story Rajwada Palace and the Lal Baag Palace, which date back to Indore’s 19th-century Holkar dynasty.
      The Holkar rulers are honored by a cluster of tombs and cenotaphs at Chhatri Baag. The night market Sarafa Bazar sells street food. East is the Indo-Gothic Gandhi Hall and clock tower. The Jain temple Kanch Mandir has a mirrored mosaic interior.
    </p>
  </div>
  <div class="card mb-12 shadow-sm">
    <div class="card-body">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Indore RajWada Image</text></svg>
    </div>
  </div>
  <div class="site-description px-3 py-3 pb-md-4 mx-auto text-center">
    <p class="lead">
      A nature lover or a tourist with an eye for architectural excellence,
      Indore is the place to be to admire, enjoy, learn and unwind.
      Here are the top destinations in Indore that give you an idea of what the city
      has for you to offer.
    </p>
  </div>
  <div class="visting-place-list-box">
    <div class="container visiting-place-box-heading">
      <h2>List of Popular Visitings Places in Indore</h2>
    </div>
    <div class="visting-place-list">
      <ol>
        <li>Rajwada</li>
        <li>Lal Bag Palace</li>
        <li>Sarafa Bajar</li>
        <li>56 Dukan</li>
        <li>Khajrana Temple</li>
        <li>PatalPani Waterfall</li>
        <li>Regional Park</li>
        <li>Rala Mandal</li>
        <li>Kamla Nehru Prani Sangrahlay </li>
        <li>Mohadi Falls</li>
        <li>Tincha Fall</li>
        <li>Bamniya Kund</li>
        <li>Choral Dam</li>
        <li>Janapav</li>
        <li>Chidiya Bhadak Fall</li>
        <li>Gidiya khoh Waterfall</li>
        <li>Jogi Bhadak Waterfall</li>
        <li>Gomat Giri</li>
        <li>Brijasan Tekri</li>
        <li>Crescent water park</li>
      </ol>
    </div>
  </div>
</div>
